name: Generate Python Client

on:
  workflow_dispatch:

jobs:
  generate-client:
    runs-on: ubuntu-latest
    outputs:
      old-version: ${{ steps.step-version-bump.outputs.OLD_VERSION }}
      new-version: ${{ steps.step-version-bump.outputs.NEW_VERSION }}
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Extract current version
        id: step-extract-version
        uses: papermerge/banger@master
        with:
          files_list: "generated-rest-api-client-python/setup.py"

      - name: Install openapi-generator
        run: npm install @openapitools/openapi-generator-cli -g

      - name: Run generate command
        run: openapi-generator-cli generate \
          -i https://raw.githubusercontent.com/papermerge/openapi-schema/master/openapi-schema.yaml \
          -g python \
          -o generated-rest-api-client-python \
          --skip-validate-spec \
          --additional-properties packageName=papermerge_restapi_client,projectName=papermerge-restapi-client,packageVersion= ${{steps.step-extract-version.outputs.NEW_VERSION}}
