name: Publish

on:
  workflow_dispatch:


jobs:
  publish-to-pypi:
    name: Publish to PyPi
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip twine
    - name: Publish package
      env:
        PYPI_TOKEN: ${{ secrets.PYPI_TOKEN }}
        PYPI_USERNAME: __token__
      run: |
        cd generated-rest-api-client-python
        python setup.py sdist
        twine upload -u __token__ dist/*
